<a href="https://colab.research.google.com/github/albaMCh/Pandas/blob/main/Proyecto_final_Pandas_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

En este primer proyecto vamos a trabajar con otro de los datasets más usados para aprender, contiene datos de 3 especies distintas de la planta Iris, tambien conocido como lirio.

La siguiente url contienen el csv para crear el dataframe : https://drive.google.com/file/d/1BXKraZWgp-Vyg7a216nqJTSONvZnJk97/view?usp=sharing

Descarga el archivo csv de drive y súbelo al colab para crear el dataframe llamado data.

In [ ]:
data = pd.read_csv('/content/iris.csv')

Comprueba las 5 primeras filas para confirmar que el dataframe se ha creado correctamente.

In [ ]:
data.head(5)

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

#Ejercicio 1

Utiliza el método describe para conocer los valores estadísticos básicos de cada columna.

In [ ]:
data.describe()

       sepallength  sepalwidth  petallength  petalwidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

¿Cuantas filas tiene el dataset? Guarda tu respuesta en la variable solucion_1 como número entero

In [ ]:
solucion_1= len(data)
solucion_1

150

#Ejercicio 2

Muestra el valor medio de cada columna para cada especie. Almacena dicha información en la variable solucion_2.

In [ ]:
solucion_2= data.groupby('class').mean()

solucion_2

                 sepallength  sepalwidth  petallength  petalwidth
class
Iris-setosa            5.006       3.418        1.464       0.244
Iris-versicolor        5.936       2.770        4.260       1.326
Iris-virginica         6.588       2.974        5.552       2.026

#Ejercicio 3

¿Cuantas filas corresponden a cada especie?

In [ ]:
ejercicio_3 = data.groupby('class').size()
ejercicio_3

class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

#Ejercicio 4

Añade una columna llamada 'total_values' al dataframe 'data' que sea la suma del resto de valores de la fila.

In [ ]:
data['total_values'] = data['sepallength']+data['sepalwidth']+data['petallength']+data['petalwidth']

In [ ]:
data

,sepallength,sepalwidth,petallength,petalwidth,class,total_values
0,5.1,3.5,1.4,0.2,Iris-setosa,10.2
1,4.9,3.0,1.4,0.2,Iris-setosa,9.5
2,4.7,3.2,1.3,0.2,Iris-setosa,9.4
3,4.6,3.1,1.5,0.2,Iris-setosa,9.4
4,5.0,3.6,1.4,0.2,Iris-setosa,10.2
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,17.2
146,6.3,2.5,5.0,1.9,Iris-virginica,15.7
147,6.5,3.0,5.2,2.0,Iris-virginica,16.7
148,6.2,3.4,5.4,2.3,Iris-virginica,17.3
149,5.9,3.0,5.1,1.8,Iris-virginica,15.8

#Ejercicio 5

¿Cuántos valores faltan en total en el dataset?

In [ ]:
ejercicio_5 = data.isnull()
ejercicio_5

     sepallength  sepalwidth  petallength  petalwidth  class  total_values
0          False       False        False       False  False         False
1          False       False        False       False  False         False
2          False       False        False       False  False         False
3          False       False        False       False  False         False
4          False       False        False       False  False         False
..           ...         ...          ...         ...    ...           ...
145        False       False        False       False  False         False
146        False       False        False       False  False         False
147        False       False        False       False  False         False
148        False       False        False       False  False         False
149        False       False        False       False  False         False

[150 rows x 6 columns]

Escribe tu respuesta como número entero en la variable solucion_4

In [ ]:
solucion_4=ejercicio_5.sum()
solucion_4

sepallength     0
sepalwidth      0
petallength     0
petalwidth      0
class           0
total_values    0
dtype: int64

# Ejercicio 6

Filtra el dataframe 'data' para mostrar aquellas muestras que tienen un valor de la columna 'total_value' superior a la media

In [ ]:

solucion_6= data[(data['total_values']>data['total_values'].mean())]

solucion_6

,sepallength,sepalwidth,petallength,petalwidth,class,total_values
50,7.0,3.2,4.7,1.4,Iris-versicolor,16.3
51,6.4,3.2,4.5,1.5,Iris-versicolor,15.6
52,6.9,3.1,4.9,1.5,Iris-versicolor,16.4
54,6.5,2.8,4.6,1.5,Iris-versicolor,15.4
55,5.7,2.8,4.5,1.3,Iris-versicolor,14.3
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,17.2
146,6.3,2.5,5.0,1.9,Iris-virginica,15.7
147,6.5,3.0,5.2,2.0,Iris-virginica,16.7
148,6.2,3.4,5.4,2.3,Iris-virginica,17.3
149,5.9,3.0,5.1,1.8,Iris-virginica,15.8

In [ ]:
#@title Consigue el Token para corregir el ejercicio en Nodd3r
import hashlib

correct = str(solucion_1)+str(solucion_4)+str(solucion_6)+str(data)
pwd = hashlib.sha256(str(correct).encode())
#print('El token para corregir en Nodd3r es:\n',pwd.hexdigest())
if pwd.hexdigest()[0:6] == '4b74ac':
  print('¡Felicidades! puedes avanzar al siguiente modulo \n El token es: ',pwd.hexdigest())
else:
  print('Hay algún error en el código o tu forma es diferente a la planteada, pregunta por el foro si no lo ves claro.')

Hay algún error en el código o tu forma es diferente a la planteada, pregunta por el foro si no lo ves claro.